---
import Social from './Social.astro';
---

<footer>
  <p>Learn more about my projects on:</p>
  <Social platform="twitter" username="_rafopm" />
  <Social platform="github" username="rafopm" />
  <Social platform="youtube" username="rafopm" />
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>